@use "@scss/abstracts/all-abstracts" as *;

.easter-events {
	width: 100%;

	&__wrapper {
		text-align: center;
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	//
	// 	&__event-container {
	// 		padding: 1rem;
	// 		background-image: url("assets/images/bg-paper.webp");
	// 	}

	&__content {
		// color: $off-black;
		display: flex;
		flex-direction: column-reverse;
		margin: 0 auto;
		gap: 1rem;

		@media (min-width: 768px) {
			flex-direction: row;
			align-items: flex-start;
			gap: 2rem;
		}
	}

	&__image {
		flex: 1;
		img {
			margin-bottom: 1rem;
			width: 100%;
			border-radius: 0.25rem;
			box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
		}
	}

	&__details {
		flex: 1;
		padding: 1.5rem;

		text-align: left;
	}

	&__heading {
		font-size: 2.75rem;
		font-weight: 600;
		// color: #6b46c1;
		line-height: 1.2;
		margin-bottom: 1rem;

		@include breakpoint(med) {
			display: block;
		}
	}

	&__intro {
		font-size: 1.125rem;
		margin-bottom: 1.5rem;
		// color: #333;

		strong {
			font-weight: 500;
			// color: $accent-teal;
		}
	}

	&__info {
		list-style: none;
		padding: 0;
		font-size: 1rem;

		li {
			display: flex;
			align-items: center;
			gap: 1.5rem;
			margin-bottom: 1rem;

			.icon {
				font-size: 1.25rem;
				// color: #6b46c1;
				flex-shrink: 0;
			}

			p {
				color: $off-black;
				font-weight: 500;
				margin-bottom: 0;
			}

			small {
				display: block;
				font-size: 1rem;
				color: $dark-grey;

				@include breakpoint(med) {
					font-size: 1rem;
				}
			}
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 2rem;

		a {
			text-align: center;
		}
	}

	@include breakpoint(lg) {
		p,
		h2 {
			text-align: left;
		}

		&__wrapper {
			display: grid;
			gap: 4rem;
			grid-template-columns: 2fr 1fr;
			align-items: start;
		}
		//
		// 		&__event-container {
		// 			padding: 3rem;
		// 		}

		&__heading {
			font-family: Poppins;
			font-size: 4.875rem;
			font-weight: 600;
			line-height: 100%;
			letter-spacing: 0.0975rem;
			text-transform: uppercase;
			margin-bottom: 2rem;

			.outlined {
				-webkit-text-stroke-width: 2.25px;
				// -webkit-text-stroke-color: #6f61c9;
				font-style: normal;
			}
		}

		&__info {
			padding: 0;
		}

		&__intro {
			font-size: 1.35rem;
		}
	}
}

// ===== Buttons =====

.btn-primary,
.btn-secondary {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	text-decoration: none;
	transition: background 0.2s ease;
}

// ===== Pre-Easter Event Cards =====

.pre-events {
	// margin-top: 2rem;

	&__heading {
		color: #6f61c9;
		text-align: left;
		font-family: Poppins;
		font-style: normal;
		font-weight: 600;
		line-height: 100%;
		/* 4.875rem */
		letter-spacing: -0.14625rem;
		text-transform: uppercase;
		// font-size: 2.875rem;
		margin-right: auto !important;
		margin-left: 0 !important;

		.outlined {
			text-align: center;
			-webkit-text-stroke-width: 2.25px;
			-webkit-text-stroke-color: #6f61c9;
			font-family: Poppins;
			font-style: normal;
			line-height: 100%;
			/* 4.875rem */
			letter-spacing: 0.0975rem;
			text-transform: uppercase;
			color: transparent;
		}
		//
		// 		@include breakpoint(med) {
		// 			font-size: 3.875rem;
		// 		}
	}

	&__desc {
		font-size: 0.95rem;
		color: #444;
		margin-bottom: 1.5rem;
	}
	//
	// 	.easter-events__content-wrapper {
	// 		@include breakpoint(lg) {
	// 			display: grid;
	// 			grid-template-columns: 2fr 1fr;
	// 			gap: 2rem;
	// 		}
	// 	}

	&__card {
		background: url("@assets/images/bg-pre-events.png");
		color: white;
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 1rem 1.5rem;
		border-radius: 0.5rem;
		margin: auto;
		margin-bottom: 1rem;
		max-width: 30rem;

		p {
			margin-bottom: 0;
		}

		.date {
			text-align: center;

			font-size: 1rem;
			text-transform: uppercase;
			letter-spacing: 0.05rem;
		}

		.day {
			font-size: 2.5rem;
			font-weight: 600;
			margin-bottom: 0;
			text-align: center;
			line-height: 100%;
		}

		.info {
			text-align: left;

			.name {
				font-weight: 600;
				font-size: 1.5rem;
				letter-spacing: 0.0225rem;
				line-height: 115%;

				margin-bottom: 0.25rem;
			}

			.time {
				font-size: 0.875rem;
				margin-bottom: 0;
			}
		}
	}

	@include breakpoint(lg) {
		margin-top: 0;
		height: 100%;

		&__card {
			gap: 1.5rem;
		}
	}
}
