@use "@scss/abstracts/all-abstracts" as *;

$hero-spacing: 2rem;

// Hero
.hero {
	text-align: center;
	padding: 3rem 0;
	color: white;
	background: linear-gradient(90deg, #80cde4 0%, #74add8 24.99%, #657bc5 50.01%, #5f60b3 74.66%, #4d4197 100%);

	background-size: 100% 100%;
	width: 100%;
	margin: 0;

	&__rsvp-btn {
		background: url("@assets/images/btn-rsvp-hero.webp");
		object-fit: cover;
	}

	.easter-expressions-logo {
		width: 13rem;
		margin: auto;
		margin-bottom: 1rem;

		@include breakpoint(lg) {
			width: 15rem;
		}
	}

	&__invite {
		font-size: 0.875rem;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		width: fit-content;
		margin: 0 auto 2rem auto;

		@include breakpoint(med) {
			font-size: 1.25rem;
		}
	}

	.easter-logo {
		width: 4rem;
		height: fit-content;

		img {
			object-fit: cover;
			width: 100%;
		}

		@include breakpoint(med) {
			width: 5.763rem;
			margin-bottom: 0.5rem;
		}
	}

	&__easter-text-logo {
		width: 12rem;
		margin-bottom: 1.5rem;

		@include breakpoint(med) {
			width: 16.18456rem;
		}
	}
	.easter-sunday-text {
		font-size: 3rem;
		text-align: center;
		line-height: 90%;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	//
	// 	&__title {
	// 		font-size: 3rem;
	// 		font-weight: bold;
	// 		margin: 0;
	// 		text-align: center;
	// 		span {
	// 			display: inline-block;
	// 		}
	// 	}

	.date-time-location {
		padding: 1rem 0;
		background: linear-gradient(
			90deg,
			rgba(91, 99, 209, 0) -22.38%,
			rgba(64, 69, 150, 0.6) 52.56%,
			rgba(91, 99, 209, 0) 128.95%
		);
		width: 100% !important;
		margin: $hero-spacing 0;
		p,
		a {
			margin: 0;
			text-transform: uppercase;
			font-weight: 500;
			line-height: 155%;
		}

		p {
			font-size: 1.25rem;
		}

		a {
			text-decoration: underline;
		}

		@include breakpoint(med) {
			margin: 2rem 0;
			background: linear-gradient(
					90deg,
					rgba(91, 99, 209, 0) 5.5%,
					rgba(64, 69, 150, 0.6) 49.65%,
					rgba(91, 99, 209, 0) 94.66%
				)
				no-repeat center center/cover;
			background-size: 100%;

			p,
			a {
				font-size: 1.5rem;
			}
		}

		@include breakpoint(lg) {
			margin: 2.5rem 0;
		}
	}

	.at-expressions-church {
		font-style: italic;
		font-size: 1.25rem;
		font-weight: 500;

		@include breakpoint(med) {
			font-size: 1.75rem;
		}
	}

	&__intro {
		max-width: 50rem;
		margin: auto;
		font-size: 1.125rem;

		@include breakpoint(lg) {
			font-size: 1.35rem;
		}
	}

	&__tagline {
		color: #fff;
		text-align: center;
		font-size: 1.9375rem;
		font-style: normal;
		font-weight: 500;
		line-height: 120%; /* 2.325rem */
		letter-spacing: -0.02rem;
		margin: 0;

		@include breakpoint(med) {
			color: #fff;
			text-align: center;
			font-family: Poppins;
			font-size: 2.75rem;
			font-style: normal;
			font-weight: 500;
			line-height: 115%; /* 3.1625rem */
			letter-spacing: -0.0275rem;
			margin: 1rem 0 0;
		}
	}

	&__date {
		margin: 0.5rem 0 1.5rem;
		font-size: 1.25rem;
	}

	&__cta-group {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		margin: 1.5rem auto 0;
		width: 90%;

		a {
			width: 90%;
		}
		@include breakpoint(med) {
			flex-direction: row;
			a {
				width: unset;
				flex: 1;
				max-width: fit-content;
			}
		}
	}

	&__promo {
		font-size: 0.875rem;
		// text-transform: uppercase;
		margin: 1.5rem auto;
		width: fit-content;

		p {
			font-size: 1.15rem;
			font-weight: 500;
			margin-bottom: 0.5rem;

			@include breakpoint(med) {
				font-size: 1.25rem;
			}
		}

		img {
			height: 1.5rem;
			margin: 0.5rem auto;

			@include breakpoint(med) {
				width: 10rem;
				height: auto;
			}
		}
	}

	&__logo-tagline {
		display: flex;
		flex-direction: column;
		gap: $hero-spacing;
		align-items: center;
	}

	&__rosebud {
		background-image: url("@assets/images/rosebud-coffee-pasadena-logo.webp");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;

		padding: 0;
		margin: 0;
		height: 2rem;
	}

	&__deadline {
		font-size: 0.75rem;
		color: #e0e7ff;
	}

	&__buttons {
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
		a {
			width: 90%;
		}

		@include breakpoint(med) {
			flex-direction: row;
		}
	}

	@include breakpoint(lg) {
		padding: 6rem 0 5rem 0;

		.easter-sunday-text {
			font-size: 3.85rem;
		}

		&__logo-wrapper {
			gap: 2rem;
		}

		&__date {
			font-size: 1.5rem;
		}
	}
}

// // Events Section
// .events {
// 	padding: 3rem 1rem;
// 	display: flex;
// 	flex-direction: column;
// 	gap: 3rem;
//
// 	@media (min-width: 768px) {
// 		flex-direction: row;
// 		justify-content: space-around;
// 		padding: 4rem;
// 	}
// }
//
// .event {
// 	max-width: 500px;
// 	margin: 0 auto;
//
// 	h2 {
// 		font-size: 1.75rem;
// 		color: #4f46e5;
// 		margin-bottom: 1rem;
// 	}
//
// 	&--pre {
// 		background: #f3f4f6;
// 		padding: 2rem;
// 		border-radius: 1rem;
// 	}
//
// 	&--main {
// 		background: white;
// 		padding: 2rem;
// 		border-radius: 1rem;
// 	}
//
// 	&__cards {
// 		display: flex;
// 		flex-direction: column;
// 		gap: 1rem;
// 		margin-top: 1rem;
// 	}
//
// 	&__card {
// 		display: flex;
// 		align-items: center;
// 		background: #4f46e5;
// 		color: white;
// 		padding: 1rem;
// 		border-radius: 0.5rem;
//
// 		.event__date {
// 			background: white;
// 			color: #4f46e5;
// 			padding: 0.5rem;
// 			border-radius: 0.25rem;
// 			text-align: center;
// 			margin-right: 1rem;
//
// 			.day {
// 				font-size: 1.5rem;
// 				font-weight: bold;
// 			}
//
// 			.month {
// 				font-size: 0.75rem;
// 			}
// 		}
//
// 		.event__name {
// 			font-weight: bold;
// 		}
//
// 		.event__desc {
// 			font-size: 0.875rem;
// 		}
// 	}
//
// 	&__photo {
// 		width: 100%;
// 		border-radius: 0.5rem;
// 		margin: 1.5rem 0;
// 	}
//
// 	&__list {
// 		list-style: none;
// 		padding: 0;
// 		line-height: 1.8;
// 	}
//
// 	&__buttons {
// 		margin-top: 2rem;
// 		display: flex;
// 		flex-wrap: wrap;
// 		gap: 1rem;
// 	}
// }
