@use "@scss/abstracts/all-abstracts" as *;
#rsvp-section {
	background: linear-gradient(90deg, #80cde4 0%, #74add8 24.99%, #657bc5 50.01%, #5f60b3 74.66%, #4d4197 100%);
	text-align: center;
	// margin: $section-margin-vertical 0;
	h2 {
		margin-bottom: 1.5rem;
	}
	.section-content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.subtitle {
		font-size: 2rem;
		text-align: center;
		font-weight: 500;
		line-height: 110%;
	}

	a {
		width: 100%;
		@include breakpoint(lg) {
			width: fit-content;
		}
	}

	@include breakpoint(med) {
		margin-bottom: 2.5rem;
	}
}

.rsvp {
	&__desc {
		font-size: 1.25rem;
		margin-bottom: 2rem;
	}
}
