@use "@scss/abstracts/all-abstracts" as *;

p {
	text-align: center !important;

	@include breakpoint(med) {
		text-align: left !important;
	}
}
strong {
	font-weight: 600;
}
.schedule {
	background: $black;
	color: #fff;
	text-align: center;

	&__title {
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 3rem;

		span {
			display: block;
		}
	}

	&__columns {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		@media (min-width: 768px) {
			flex-direction: row;
			align-items: start;
		}
	}

	&__block {
		color: #222222;
		border-radius: 1rem;
		margin: auto;
		margin-bottom: 3rem;
		flex: 1;
		width: 90%;

		.time {
			display: flex;
			height: 3rem;
			padding: 0.625rem 0.5rem;
			justify-content: center;
			align-items: center;
			gap: 1rem;
			align-self: stretch;
			color: white;
			background: url("assets/images/bg-schedule-time-gradient.webp");
			margin-bottom: 1rem;

			p {
				font-size: 1.375rem;
				margin-bottom: 0;
			}
		}

		h3 {
			font-size: 1.25rem;
			margin-bottom: 1rem;
		}

		img {
			width: 100%;
			margin-bottom: 1rem;
		}

		ul {
			list-style: disc;
			padding-left: 1.25rem;
		}

		.btn-primary {
			// display: inline-block;
			// margin-top: 1rem;
			// background: #06b6d4;
			// color: white;
			// padding: 0.5rem 1rem;
			// border-radius: 9999px;
			// text-decoration: none;
			width: 100%;
		}

		@include breakpoint(med) {
			margin: 0;
			h3 {
				margin-bottom: 1.5rem;
			}
		}
	}

	&__content-wrapper {
		background: url("assets/images/bg-paper.webp");
		color: #222222;
		padding: 2rem 1.5rem;
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		h3 {
			color: #0a7e92;
			text-align: center;

			/* h3-base */
			font-family: Poppins;
			font-size: 1.5625rem;
			font-style: normal;
			font-weight: 600;
			line-height: 135%; /* 2.10938rem */
			letter-spacing: -0.03125rem;
		}

		p {
			color: #222222;
		}

		.schedule__promo {
			color: #222;
			text-align: center;
			font-family: Poppins;
			font-size: 1.25rem;
			font-style: normal;
			font-weight: 600;
			line-height: 155%; /* 1.9375rem */
		}
	}
}
